<!DOCTYPE html>
<html>

<head>
  <title>Todo-App</title>
  <link href="app.component.scss" rel="stylesheet">
</head>

<body>
  <header>
  <div *ngIf="loggedIn() else notLoggedIn" id="start">
    <nav>
      <ul>
      <a routerLink="/profile" id="profile">Profile</a>
      <a routerLink="/todo" id="todo">Todo-list</a>
      <a routerLink="user/logout" id="logout">Logout</a>
    </ul>
    </nav>
  </div>
  <ng-template #notLoggedIn>
    <div>
      <nav>
        <ul>
        <a routerLink="/home" id="home">Home</a>
        <a routerLink="user/login" id="login">Login</a>
        <a routerLink="user/register" id="register">Register</a>
      </ul>
      </nav>
    </div>
  </ng-template>
  
  <router-outlet></router-outlet>
</header>
</body>

</html>